@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap");

:root {
  --primary-color: #010937;
  --secondary-color: #01295e;
  --tertiary-color: #0057b39c;

  --primary-text-color: #f0f0f0;
  --secondary-text-color: #f0f0f0ab;
  --login-button-color: #017cff;
  --shadows-color: #00083db9;
  --success-color: #008000;
  --error-color: #ff0000;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
}

.title-login,
.description {
  color: var(--primary-text-color);
}

.left-logo {
  max-width: 100%;
  height: auto;
  width: 60%;
}

.left-login,
.right-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 100vh;
}

.title-login:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 40px var(--shadows-color);
  color: var(--primary-text-color);
  background: var(--tertiary-color);
}

.card-login,
h1 {
  margin: 0;
  font-weight: 800;
  color: var(--primary-text-color);
}

.text-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.text-field,
input {
  border: none;
  width: 100;
  border-radius: 10px;
  padding: 14px;
  font-size: 12pt;
  box-shadow: 0px 10px 40px var(--shadows-color);
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  box-sizing: border-box;
}

.text-field,
label {
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.text-field,
input::placeholder {
  color: var(--secondary-text-color);
}

input:focus,
.btn-login:focus {
  outline: 2px solid var(--login-button-color);
  outline-offset: 4px;
}

.btn-login {
  width: 80%;
  padding: 16px 0;
  margin: 25px;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  letter-spacing: 3px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--login-button-color);
  box-shadow: 0px 10px 40px -12px var(--primary-color);
}

.btn-login:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.new-account {
  flex-direction: column;
  color: var(--primary-text-color);
  padding: 5px;
  cursor: pointer;
}

.new-account:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.remember-password {
  flex-direction: column;
  color: var(--primary-text-color);
  padding: 5px;
}

.forgot-password {
  flex-direction: column;
  color: var(--secondary-text-color);
  padding: 5px;
  cursor: pointer;
}

.forgot-password:hover {
  transition: color 0.3s ease;
}

.errormsg {
  display: none;
  margin-top: 5px;
  color: var(--error-color);
}

.login-success {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 15px 0;
  margin-top: 5px;
  border-radius: 5px;
  color: var(--primary-text-color);
  outline: 5px solid var(--success-color);
  outline-offset: 5px;
}

.login-fail {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 15px 0;
  margin-top: 5px;
  border-radius: 5px;
  color: var(--primary-text-color);
  outline: 5px solid var(--error-color);
  outline-offset: 5px;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .main {
    flex-direction: column;
  }

  .left-login,
  h1 {
    display: none;
  }

  .left-login,
  .right-login {
    width: 100%;
    height: auto;
  }

  .btn-login {
    font-size: 14px;
    padding: 12px;
  }
}
